version: "3.9"
name: "Referally Telegram Bot"

services:
  # bot:
  #   build: .

  redis:
    image: redis:7.4.3-bookworm
    container_name: redis_container
    env_file:
      - "./.env"
    volumes:
      - "./redis_data:/data"
      - "./redis.conf:/usr/local/etc/redis/redis.conf"
    ports:
      - "6379:6379"
    command: redis-server /usr/local/etc/redis/redis.conf
    restart: unless-stopped